<form action="/Tarefa/Cadastrar" method="POST">
    <label>
        Nome:
        <input type="text" name="nome">
    </label>

    <label>
        Descrição:
        <textarea name="descricao"></textarea>
    </label>

    <label>
        Tipo:
        <input type="text" name="tipo">
    </label>

    <button type="submit"></button>
</form>