<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Redirecionando...</title>
        <meta http-equiv="refresh" content="4;URL=http://localhost:5000/Usuario/Login">
    </head>

    <body>
        <h1>Redirecionando...</h1>
    </body>
</html>