<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <form action="/Usuario/Cadastro" method="POST">
        <label>
            Nome:
            <input type="text" name="nome">
        </label>

        <label>
            Email:
            <input type="email" name="email">
        </label>

        <label>
            Senha:
            <input type="password" name="senha">
        </label>

        <label>
            Tipo:
            <input type="text" name="tipo">
        </label>

        <button type="submit">Entrar</button>
    </form>
</body>
</html>